<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-content">
            <div class="footer-details">
                <a href="/" title="DATCODE | Do The Most">DATCODE | Do The Most</a> © <?php echo date('Y'); ?><br>
                A 501(c)3 nonprofit corporation
                <nav class="footer-social">
                    <a href="https://twitter.com/talkdatcode" rel="noopener" target="_blank"></a> <a href="http://github.com/gitdatcode" rel="noopener" target="_blank"></a> <a href="http://instagram.com/designdatcode" rel="noopener" target="_blank"></a>
                </nav>
                <a href="/about">ABOUT US</a><br>
                <a href="/assets/files/DatCodeCommunityCodeofConduct.pdf">CODE OF CONDUCT</a><br/>
                <a href="https://shop.datcode.io">SHOP</a>
            </div>
            <div class='footer-credits'>
                <section class="footer-powerby">
                    Powered By DATCODE<br>
                </section>
            </div>
        </div>
    </div>
</footer>