<header class="site-header">
    <a id="logo" href="/" title="DATCODE | Do The Most"><img alt="DATCODE | Do The Most" src="/assets/images/DATCODE_ENERGY_LOGOMARK_WHITE.png"></a>
    <nav id="site-nav" class="site-nav">
        <a href="/">Home</a> <a href="/sign-up">Join Us</a> <a href="/resources">Resources</a>
    </nav>
    <nav id="site-nav-mobile" class="site-nav-mobile">
        <a id="menu-icon" href="javascript:void(0);" class="icon" onclick="toggleMenu()"></a>
        <div id="site-nav-links" class="site-nav-links not-visible">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
                <li>
                    <a href="/resources">Resources</a>
                </li>
            </ul>
        </div>
    </nav>
</header>