
<div class="sign-up-template">
    <div class="wrapper">
        <h1 class="title">
            Help Make DATCODE Better
        </h1>
        <div id="mc_embed_signup" class="signup-contents">
            <div id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                <form id="signup_form" action="/contribute" method="post">
                    <section>
                        <div class="mc-field-group form-group">
                                <label for="mce-FNAME">Real Name</label>
                                <input type="text" value="" name="name" class="form-control" id="mce-FNAME">
                        </div>
                        <div class="mc-field-group form-group">
                                <label for="mce-FNAME">DATCODE userName</label>
                                <input type="text" value="" name="username" class="form-control" id="mce-FNAME">
                        </div>
                        <div class="mc-field-group form-group">
                            <label for="mce-EMAIL">Email</label>
                                <input type="email" value="" name="email" class="form-control email" id="mce-EMAIL" />
                        </div>
                        <div class="mc-field-group form-group form_help" >
                            <label for="mce-MMERGE5" class="help_heading">How would you like to help DATCODE?</label>
                            <label>
                                <input type="checkbox" name="help[]" value="social media"> Social Media (Twitter/Linkedin/Instagram)
                            </label>
                            <label>
                                <input type="checkbox" name="help[]" value="website"> DATCODE Website
                            </label>
                            <label>
                                <input type="checkbox" name="help[]" value="slack management"> DATCODE Slack Management
                            </label>
                            <label>
                                <input type="checkbox" name="help[]" value="slack tools"> DATCODE Slack Apps & Tools
                            </label>
                            <label>
                                <input type="checkbox" name="help[]" value="fundraising"> Fundraising
                            </label>
                        </div>
                        <div class="mc-field-group form-group">
                            <label for="mce-MMERGE5">Is there anything you'd like to add?</label>
                            <textarea name="notes" class="form-control notes"></textarea>
                            <div class="notes_count"><span class="count">0</span>/250</div>
                        </div>
                    </section>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_013dedee15048a62c85ed9114_e96dd3387e" tabindex="-1" value=""></div>
                    <div class="submit">
                        <input type="submit" value="Sign Up!" name="subscribe" id="mc-embedded-subscribe"  />
                    </div>
                    <div id="message"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
#mce-responses .response{
    width: 300px;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}
#mce-error-response {
    color: #EF0053;
}
#mce-success-response {
    color: #fff;
}
.signup-contents .form-control.notes{
    height: 125px;
}
.notes_count{
    text-align: right;
}
.help_heading{
    border: 1px solid transparent;
}
</style>
<script>
    $(function(){
        var form = $('#signup_form'),
            error = $('#mce-error-response'),
            success = $('#mce-success-response'),
            control = form.find('.form-control'),
            notes = form.find('.notes'),
            count = form.find('.count'),
            help_heading = $('.help_heading'),
            fields = {},
            can_submit = true;

        control.each(function(i, f){
            fields[f.name] = $(f);
        });

        fields['help'] = help_heading;

        notes.on('keyup', function(){
            var len = notes.val().length;
            count.text(len);

            if(len > 250){
                can_submit = false;
                notes.addClass('required');
            }else{
                can_submit = true;
                notes.removeClass('required');
            }
        });

        form.on('submit', function(e){
            e.preventDefault();
            error.text('').css('display', 'none');

            if(!can_submit){
                error.text('Fix form errors').css('display', '');
                return;
            }

            $.ajax({
                'url': form.attr('action'),
                'method': 'post',
                'dataType': 'json',
                'data': form.serialize(),
                'success': function(resp){
                    control.removeClass('required');
                    help_heading.removeClass('required');

                    if(resp.errors.length > 0){
                        success.text('').css('display', 'none');
                        error.text(resp.message).css('display', '');

                        for(var f = 0; f < resp.errors.length; f++){
                            fields[resp.errors[f]].addClass('required');
                        }
                    } else {
                        error.text('').css('display', 'none');
                        success.text(resp.message).css('display', '');
                        form[0].reset();
                    }
                }
            });
        });
    });
</script>
